.Links {
    padding: 0.5rem;
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.Links>button {
    background-color: rgb(20, 20, 20);
    color: rgb(221, 221, 221);
    font-size: 1rem;
    padding: 0.3rem;
    border: none;
    width: 6rem;
    border-radius: 0.5rem;
}

.Links>button:hover {
    cursor: pointer;
}

.Links>button.filterOn {
    background-color: lightgrey;
    color: rgb(27, 27, 27);
    border: black 2px solid;
}

.Links>button.filterOff {
    color: rgb(90, 89, 89);
}

.Links input {
    padding: 0.3rem;
}